@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 0 !important; 
}

/* ============ BASE STYLE ========== */
.title {
    font-size: 5rem;
    color: #000B76;
    font-family: Raleway;
}

.title-sec {
    color: #0099ff;
    font-family: Raleway;
    font-size: 4rem;
}

/* ============ NAVBAR ============ */
.navbar {
    background: transparent;
    background-color: transparent;
    border-color:transparent;
}

.navbar-brand {
    font-family: Hammersmith One;
}

.nav li a {
    font-family: Hammersmith One;
    font-size: 1.5rem;
    color: white;
}

.nav li a:hover {
    color: #000B76;
}

/* =========== JUMBOTRON ============ */
.jumbotron {
    font-family: Raleway;
}

.jumbotron-text {
    font-size: 2rem;
    color: white;
}
